html,
body {
  margin: 0;
  padding: 0;
  background-color: #e8f5ff;
}

.waterbottle {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.clickbottle {
  font-size: 26px;
  max-width: 600px;
}

.clickbottleclass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: white;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  padding-top: 20px;
}

.slides {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}

.slide {
  width: 800px;
  min-height: 400px;
  scroll-snap-align: start;
}

.boxes {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 400px;
}

.arrow {
  height: 400px;
  display: flex;
  justify-content: center;
  --animate-duration: 3s;
  --animate-delay: 0.9s;
}

.chart {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.trigger {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  word-spacing: 2px;
  padding: 20px;
  font-size: 25px;
  background-color: blanchedalmond;
  block-size: 80px;
  height: auto;
}

.imgbottle {
  display: block;
  height: 600px;
  padding: 20px 0px;
}

.logo {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  margin-left: 10px;
}

.gif {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.two {
  display: flex;
  justify-content: center;
  padding: 0px 100px;
}

.four {
  display: flex;
  justify-content: center;
}

.footer {
  height: 100px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.sources {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  main > article > section > header > p {
    max-width: 50%;
  }
  main > article > section {
    padding: 65px 40px;
    max-width: 1300px;
    margin: 0 auto;
  }
}
