html,
body {
  margin: 0;
  padding: 0;
  background-color: #e8f5ff;
}

.waterbottle {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.clickbottle {
  font-size: 26px;
  max-width: 600px;
}

.clickbottleclass {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: white;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.slides {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}

.slide {
  width: 800px;
  min-height: 400 px;
  scroll-snap-align: start;
}

.boxes {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
