html,
body {
  margin: 0;
  padding: 0;
  background-color: #e8f5ff;
}

.waterbottle {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.clickbottle {
  font-size: 26px;
  max-width: 600px;
  display: block;
  text-align: center;
  margin-left: 410px;
}
